

<h1>Tom you are awesome!!</h1>
<h1>keep doing what you are doing</h1>
<h1>i know you have a lot on but i believe in you</h1>
<h1>dont forget to eat/sleep/and exercise and take regular breaks</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class= "d-flex align-items-center justify-content-center">
  <form action="" id="form">
    <input type="email" id="email">
    <input type="password" id="password">
    <input type="submit">
  </form>
</div>

<h3>Form</h3>
<form id="search-form" class="row">
  <div class="col-10">
    <input id="search-input" type="text" class="form-control" placeholder="Find Movies">
  </div>
  <div class="col-2">
    <input type="submit" class="btn btn-primary" value="search">
  </div>
</form>

<div class="container text-center">
  <ul id ="list-inline"></ul>
</div>
