

<h1>Tom you are awesome!!</h1>
<h1>keep doing what you are doing</h1>
<h1>i know you have a lot on but i believe in you</h1>
<h1>dont forget to eat/sleep/and exercise and take regular breaks</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<ul id ="list-inline"></ul>
